.team {
    /* background-color: #f5f5f5; */
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 100%;
    background-color: rgba(241, 238, 238, 0.626);
}

.team-carousel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 3rem !important;
    --bs-gutter-y: 1rem;
    --bs-gutter-x: 1rem;

}

.team-carousel {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
   justify-content: center;
   gap: 200px;

}

.team-item {
   
        position: relative;
        text-align: center;
        background-color: #fff;
    flex: 0 0 250px;
    
        padding-bottom: 1.5rem !important;
    
   
        overflow: hidden !important;
    
}

.team-item.active {
    transform: scale(1);
    opacity: 1;
}

.team-item img {
    border-radius: 2px;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    
}

.team-item h5 {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}
.team-item p {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
    color: #27AE60;
}

.team-social {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.team-social li {
    margin: 0 5px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #27AE60;
    border: none;
    color: white;
    font-size: 1.2rem;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s;
    border-radius: 28px;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.text-primary{
    color: #27AE60;
}


  



@media (min-width: 1200px) {
    .teams-container {
       
            max-width: 1140px;
            margin:0 auto;
            padding: 0px 30px;
   
    }
    }


/* Responsive for smaller screens */
@media (max-width: 500px) {
    .team {
        /* background-color: #f5f5f5; */
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .team-carousel-wrapper {
        display: block !important;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        overflow: hidden;
        padding-top: 3rem !important;
        --bs-gutter-y: 1rem;
        --bs-gutter-x: 1rem;
    }
    
    .team-carousel {
        display: block;
        transition: transform 0.5s ease-in-out;
        will-change: transform;
        gap: 0px;
        padding: 20px;
    
    }
    
    .team-item {
       
            position: relative;
            text-align: center;
            background-color: #fff;
            margin-top: 20px;
        
        
       
            padding-bottom: 1.5rem !important;
        
       
            overflow: hidden !important;
        
    }
    
    .team-item.active {
        transform: scale(1);
        opacity: 1;
    }
    
    .team-item img {
        /* border-radius: 10px; */
        transition: transform 0.5s ease-in-out;
        width: 80%;
        height: 250px;
        padding: 30px;
        margin-bottom: 10px;
        border-radius: 50%;
        scale: 0.8;
    }
    
    .team-item h5 {
        font-size: 1.25rem;
        margin-bottom: 0.25rem;
        margin-top: -40px;
        
    }
    .team-item p {
        font-size: 1.25rem;
        margin-bottom: 0.25rem;
        color: #27AE60;
    }
    
    .team-social {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    
    .team-social li {
        margin: 0 5px;
    }
    
    .carousel-control {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: #27AE60;
        border: none;
        color: white;
        font-size: 1.2rem;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 10;
        transition: background-color 0.3s;
        border-radius: 28px;
    }
    
    .carousel-control.prev {
        left: 10px;
    }
    
    .carousel-control.next {
        right: 10px;
    }
    
    .carousel-control:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
    .text-primary{
        color: #27AE60;
    }
}
